appengine-python-standard==1.1.4 ; python_version >= "3.11" and python_version < "4"
google-auth==2.23.0 ; python_version >= "3.11" and python_version < "4"
gunicorn==21.2.0 ; python_version >= "3.11" and python_version < "4.0"
webob==1.8.7 ; python_version >= "3.11" and python_version < "4.0"
